/NetBeansProjects/Aula3/nbproject/private/
/NetBeansProjects/Aula3/build/
/NetBeansProjects/controle/nbproject/private/
/NetBeansProjects/Compra/nbproject/private/
/NetBeansProjects/Compra/build/
/NetBeansProjects/ConstrucaoCivil/nbproject/private/
/NetBeansProjects/ConstrucaoCivil/build/
/NetBeansProjects/AppCompras/nbproject/private/
/NetBeansProjects/AppCompras/build/
/NetBeansProjects/AppMontadora/nbproject/private/
